[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Android Maintainers
	label-Verified = -1..+0 group Android Maintainers
	create = group Administrators
[access "refs/heads/master"]
	label-Verified = -1..+1 group Android Maintainers
	label-Code-Review = -2..+2 group mdb/experio-team
	label-Verified = -1..+1 group mdb/android-git-googleplex-read
	label-Verified = -1..+1 group mdb/experio-team
	label-Autosubmit = +0..+1 group mdb/experio-team
	label-Presubmit-Ready = +0..+1 group mdb/experio-team
	submit = group Android Maintainers
[access]
	inheritFrom = api_council_filter
[access "^refs/tags/supportlib.*"]
	createTag = group android-supportlib-eng-owners
[access "refs/heads/androidx-1.0-dev"]
	label-Code-Review = -2..+2 group android-supportlib-eng-owners
	submit = group android-supportlib-eng-owners
[access "refs/heads/androidx-master-dev"]
	label-Code-Review = -2..+2 group android-supportlib-eng-owners
	submit = group android-supportlib-eng-owners
[access "refs/tags/*"]
	create = group Administrators
